ccp.db
access.log

bin
lib
pyvenv.cfg
__pycache__

input/*
environ/*
misc
static/*
!static/ace/.placeholder
!static/amcharts/.placeholder
!static/bootstrap/.placeholder
!static/jquery/.placeholder
!static/remixicon/.placeholder
