<div class="spacer-15"></div>
</div>
<footer class="footer">
<div class="container">
	이 페이지는 <a target="_blank" href="https://python.org">Python</a> {{data.data.version.major}}.{{data.data.version.minor}}.{{data.data.version.micro}}와 <a target="_blank" href="https://flask.palletsprojects.com/">Flask</a> {{data.data.fversion}}으로 만들어졌습니다. <a target="_blank" href="https://flask.palletsprojects.com/en/2.1.x/tutorial/">한 번 써 보세요.</a>
	<br />
	CCP grading system written on 2021-04 by Jiyong Youn
</div>
</footer>
<style>
	.footer {
		background-color: rgb(248, 249, 250);
		padding: 15px;
	}
</style>
</body>
</html>