{%include '_header.html'%}
<h5>채점 결과 설명</h5>
{%include 'project_common.html'%}
<hr>
<ul>
	<li><span class="correct">Correct</span>: 정답입니다.</li>
	<li><span class="message-wrong-format">Wrong decimal format</span>: 답(숫자)은 맞으나 소수점 출력 형식이 잘못되었습니다. 정수를 출력해야 하는 문제에서 실수를 출력하거나 (15 → 15.0 등), 잘못된 소수점 자리를 출력하는 경우(15.000 → 15.0 등) 나타납니다. 감점(-{{data.deduce_decimal}}%)이 있습니다.</li>
	<li><span class="tle">Time limit exceed</span>: 실행 시간 제한을 초과하였습니다. 주로 프로그램이 무한 루프를 수행하게 되면 나타납니다.</li>
	<li><span class="message-error">Runtime error</span>: 프로그램 실행 중 오류가 발생하여 비정상적으로 종료되었습니다.</li>
	<li><span class="message-wrong-answer">Wrong answer</span>: 답(숫자)이 틀렸습니다. (15.000 → 15.001, 15.000 → -15.000 등)</li>
</ul>
<hr>
<ul>
	<li><strong>숫자 채점</strong>: 출력하는 숫자의 값이 정답과 일치하는지 검사합니다.</li>
	<li><strong>문자 채점</strong>: 출력하는 문자/문자열이 정답과 일치하는지 검사합니다. 대소문자 및 공백(스페이스, 탭, 줄바꿈 등)은 구분하지 않습니다.</li>
<hr>
<h5>기타</h5>
<ul>
	<li><strong>학생ID</strong>: 학생의 전체 학번을 {{data.hash_prime}}으로 나눈 나머지입니다. 예를 들어 학번이 2022-12345라면 학생ID는 202212345를 {{data.hash_prime}}으로 나눈 나머지인 {{data.hashed}}가 됩니다.</li>
</ul>
<hr>
<ul>
	<li>Source code: <a href="https://github.com/hletrd/CCP2021">https://github.com/hletrd/CCP2021</a></li>
</ul>
<hr>
모든 오답, 실행 오류 및 감점 사항에 대해서는 입력과 올바른 출력, 제출하신 프로그램의 출력을 첨부해드리고 있으니 확인 부탁드립니다.
{%include '_footer.html'%}