{%include '_header.html'%}
{{content}}
<style>
.jumbotron {
	padding: 5rem 0rem 5rem 0rem;
	margin-bottom: 2rem;
	border-radius: .3rem;
	text-align: center;
}
</style>
<div>
	<form class="jumbotron" method="post" action="/settings" enctype="multipart/form-data">
		<div class="row justify-content-sm-center">
			<div class="col-sm-6">
				<div class="col-sm-4"><h5>채점 설정</h5></div>
				<hr>
				<div class="row">
					<div class="col-sm-4"><label>최대 허용 오차</label></div>
					<div class="col-sm-8"><input class="form-control" name="max_error" type="number" value="{{data.max_error}}" step="any"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label>소수점 형식 오류 감점 (%)</label></div>
					<div class="col-sm-8"><input class="form-control" name="deduce_decimal" type="number" value="{{data.deduce_decimal}}" step="any"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label>오답 감점 (%)</label></div>
					<div class="col-sm-8"><input class="form-control" name="deduce_wrong" type="number" value="{{data.deduce_wrong}}" step="any"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label>TLE 감점 (%)</label></div>
					<div class="col-sm-8"><input class="form-control" name="deduce_tle" type="number" value="{{data.deduce_tle}}" step="any"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label>런타임 오류 감점 (%)</label></div>
					<div class="col-sm-8"><input class="form-control" name="deduce_runtime" type="number" value="{{data.deduce_runtime}}" step="any"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label>실행 제한 시간 (초)</label></div>
					<div class="col-sm-8"><input class="form-control" name="time_limit" type="number" value="{{data.time_limit}}" step="any"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-4"><label>실행 명령어</label></div>
					<div class="col-sm-8"><input class="form-control" name="script" type="text" value="{{data.script}}"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label>실행 파일명</label></div>
					<div class="col-sm-8"><input class="form-control" name="run_filename" type="text" value="{{data.run_filename}}"></div>
				</div>
				<div class="row">
					<div class="col-sm-4"></div><div class="col-sm-8"><div class="form-text">제출된 파일의 파일명을 자동으로 바꾸어 실행합니다.</div></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-8 d-grid"><button type="submit" class="btn btn-primary">설정 저장</button></div>
				</div>
			</div>
		</div>
	</form>
	<hr>
	<form class="jumbotron" method="post" action="/settings/admin" enctype="multipart/form-data">
		<div class="row justify-content-sm-center">
			<div class="col-sm-6">
				<div class="col-sm-4"><h5>화면 설정</h5></div>
				<hr>
				<div class="row">
					<div class="col-sm-4"><label class="form-check-label" for="check-public-id">관리자 화면에 학번 표시</label></div>
					<div class="col-sm-8">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="check-public-id" name="check-public-id"{%if data.admin_public_id%} checked{%endif%}>
						</div>
					</div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label class="form-check-label" for="check-public-name">관리자 화면에 이름 표시</label></div>
					<div class="col-sm-8">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" name="check-public-name" id="check-public-name"{%if data.admin_public_name%} checked{%endif%}>
						</div>
					</div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label class="form-check-label" for="check-public-filename">관리자 화면에 파일명 표시</label></div>
					<div class="col-sm-8">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" name="check-public-filename" id="check-public-filename"{%if data.admin_public_filename%} checked{%endif%}>
						</div>
					</div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label>학생ID 계산용 값</label></div>
					<div class="col-sm-8"><input class="form-control" name="hash_prime" type="text" value="{{data.hash_prime}}"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-8 d-grid"><button type="submit" class="btn btn-success">설정 저장</button></div>
				</div>
			</div>
		</div>
	</form>
	<hr>
	<form class="jumbotron" method="post" action="/settings/password" enctype="multipart/form-data">
		<div class="row justify-content-sm-center">
			<div class="col-sm-6">
				<div class="col-sm-4"><h5>로그인 설정</h5></div>
				<hr>
				<div class="row">
					<div class="col-sm-4"><label>새 관리자 비밀번호</label></div>
					<div class="col-sm-8"><input class="form-control" name="password" type="password"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"><label>새 관리자 비밀번호 확인</label></div>
					<div class="col-sm-8"><input class="form-control" name="password-re" type="password"></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-8 d-grid"><button type="submit" class="btn btn-secondary">비밀번호 변경</button></div>
				</div>
			</div>
		</div>
	</form>
	<hr>
	<form class="jumbotron" method="post" action="/settings/student" enctype="multipart/form-data">
		<div class="row justify-content-sm-center">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-4"><label>학생 목록</label></div>
					<div class="col-sm-8"><textarea class="form-control" rows="20" name="student_list">{{data.student_list}}</textarea></div>
				</div>
				<div class="row">
					<div class="col-sm-4"></div><div class="col-sm-8"><div class="form-text">new eTL에서 일괄 다운로드한 과제물에는 학번 정보가 없기 때문에 이름-학번 매핑에 사용합니다. 한 줄에 한 명씩 콤마로 구분하여 "이름,학번"과 같이 입력하세요.</div></div>
				</div>
				<div class="spacer-15"></div>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-8 d-grid"><button type="submit" class="btn btn-warning">학생 목록 등록</button></div>
				</div>
			</div>
		</div>
	</form>
</div>

{%include '_footer.html'%}