{%include '_header.html'%}
{{content}}
<style>
.jumbotron {
	padding: 5rem 0rem 5rem 0rem;
	margin-bottom: 2rem;
	border-radius: .3rem;
	text-align: center;
}
</style>
<div class="jumbotron">
	<form method="post" action="/project/load/{{data.project_name}}" enctype="multipart/form-data">
		<div class="row justify-content-sm-center">
			<div class="col-sm-6">
			<h4>eTL에서 일괄 다운로드한 .zip파일을 업로드하세요.</h4>
			<label>* 기존 본 과제에 대한 채점 결과는 초기화됩니다.</label>
			<div class="spacer-15"></div>
			<div class="row">
			<input class="form-control" name="file" type="file">
			</div>
			<div class="spacer-15"></div>
			<div class="row">
			<button type="submit" class="btn btn-primary">Upload</button>
			</div>
			</div>
		</div>
	</form>

</div>

{%include '_footer.html'%}